<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 data-bind="translatedText: 'global:home-page.title'"></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <data-grid params="{ columns: columns, rows: rows }"></data-grid>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Row id to update:</label>
                <input class="form-control" data-bind="textInput: rowId" />
            </div>
            <div class="form-group">
                <label>Data object:</label>
                <textarea class="form-control" rows="3" data-bind="textInput: rowDataToUpdate"></textarea>
            </div>
            <button class="btn btn-default" data-bind="click: updateRow(rowId(), rowDataToUpdate())">Update</button>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Row id to delete:</label>
                <input class="form-control" data-bind="textInput: rowId" />
            </div>
            <button class="btn btn-default" data-bind="click: removeRowById(rowId())">Delete</button>
        </div>
    </div>
</div>
