﻿<div class="panel panel-default">
    <table class="table table-striped table-bordered">
        <thead>
            <tr data-bind="foreach: columns">
                <th data-bind="text: name" class="text-center"></th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: rows -->
            <tr>
                <!-- ko foreach: $data.data -->
                <!-- ko if: $data == "true" -->
                <td class="text-center">
                    <i class="fa fa-university"></i>
                </td>
                <!-- /ko -->
                <!-- ko if: $data == "false" -->
                <td class="text-center">
                </td>
                <!-- /ko -->
                <!-- ko if: !parseFloat($data) && $data != "true" &&  $data != "false" -->
                <td class="text-center">
                    <i class="fa fa-caret-right" aria-hidden="true">
                    </i>
                    <span data-bind="text: $data"></span>
                </td>
                <!-- /ko -->
                <!-- ko if: !!parseFloat($data) -->
                <td class="text-right">
                    <span data-bind="text: $data"></span>
                </td>
                <!-- /ko -->
                <!-- /ko -->
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
</div>