// Core variables and mixins
@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/fontawesome/less/font-awesome.less";
@import "../bower_components/koco-modaler/src/modaler.less";
@import "./variables.less";

// Global custom styles
body {
    padding-top: 65px;
}

//https://github.com/angular-ui/bootstrap/issues/2925
.modal-backdrop {
    bottom: 0;
}

// Components

// Table
table th {    
    background-color: #6684A8;
    color: white;
} 