<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Test App</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul data-bind="foreach: menus" class="nav navbar-nav">
                <li data-bind="css: { active: $parent.isPageActive($data) }"><a data-bind="html: title ? title : title, attr: { href: url }"></a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>